@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #F4F6FA;
}

/* css for the subpages with respect to siddebar */
.container {
  width: 100%;
  flex: 1;
  transition: transform 0.3s ease;
  padding-top: 90px;
  font-family: 'Inter', sans-serif;
}

.container.max-md {
  padding-top: 32px;
}

.container.sidebar-open {
  transform: translateX(19rem); /* 64px equivalent in rem */
  padding-left: 15px; /* Adjust as needed */
  width: 83%;
}

.container.sidebar-closed {
  transform: translateX(0);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}


.font-exo{
    font-family: "Exo", sans-serif;
  }
  
.font-inter{
    font-family: "Inter", sans-serif;
}

.backDropOverlay {
  position: fixed;
  top: 0;
  left: 50px;
  width: 100%;
  /* height: 100%; */
  background: linear-gradient(to right, #bad5faa5,#b5d0f38c) ;
  /* background-color: #; */
  backdrop-filter: blur(2px);
  z-index: 999;
}

  
  :root {
    --fc-page-bg-color: #fff;
    --fc-small-font-size: .85em;
    --fc-border-color:#C0C0CF;
    --fc-daygrid-event-dot-width: 5px;
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-text-color: #03A1D8;
    --fc-button-bg-color: #03A1D8;
    --fc-button-border-color: #fcfcfc;
    --fc-button-active-bg-color: #03A1D8;
    --fc-button-active-border-color: #fff;
    --fc-button-hover-bg-color: #03A1D8;
    --fc-button-hover-border-color: #ffff;
  }

  
/* transition for grading */
  .transition-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .max-height-full {
    max-height: 1000px; /* Arbitrary large value to allow for full expansion */
  }
  
  .max-height-0 {
    max-height: 0;
  }


