@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #F4F6FA;
}


.font-exo{
    font-family: "Exo", sans-serif;
  }
  
.font-inter{
    font-family: "Inter", sans-serif;
}

.backDropOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #e5e5ffac,#d8e9ffb3) ;
    backdrop-filter: blur(2px);
    z-index: 999;
  }
  
 